{% extends 'layout/user.html' %}
{% from "macros/card_macros.html" import product_card %}
{% block content %}
    <div class="px-4 text-white h3" style="background-color: #5A604D;">
        <p class="ps-3 py-4">Home <i class="bi bi-chevron-right"></i> {{current_category.title()}}</p>
    </div>
    <div class="dashboard-container">
        <div class="p-5 d-flex flex-column ">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">
                {% for product in products %}
                    {{product_card(product)}}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}